{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}


{% assign raw_title = post.title %}
{% if raw_title contains "[h_start]" and raw_title contains "[h_end]" and post.link %}
  {% assign start_tag = "<a href='" 
    | append: post.link 
    | append: "' target='_blank' rel='noopener'>" %}
  {% assign title_with_link = raw_title
    | replace: "[h_start]", start_tag
    | replace: "[h_end]", "</a>" %}
{% else %}
  {% assign title_with_link = raw_title %}
{% endif %}



<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item-news">
    <div class="archive__item-news-item date"> 
      <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.date | date: " %Y.%m" }}
      {% if site.category_archive.type and post.categories[0] and site.tag_archive.type and post.tags[0] %}
        {%- include post__taxonomy2.html -%}
      {% endif %}
    </div>
    <div class="archive__item-news item">
      {{ title_with_link }}
    </div>
  </article>
</div>
